.mainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  margin: var(--space-4) auto 0;
  max-width: var(--max-width-content);
  width: 100%;
}

@media (max-width: 767px) {
  .mainContent {
    /*padding-bottom: var(--bottom-mobile);*/
    margin: 0;
  }

  .mainLayout > footer {
    /*margin-bottom: var(--bottom-mobile);*/
    margin-bottom: 0;
  }
}
