.mainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  margin: var(--space-3) auto 0;
  max-width: var(--max-width-content);
  width: 100%;
}

@media (max-width: 767px) {
  .mainContent {
    padding: var(--space-4);
    padding-bottom: 80px;
  }
}
